* {
  background-color: black;
  margin: 0;
  padding: 0;

}

#app {
  background-color: black;
  height: 100%;
  width: 100%;
}

.plugs {
  padding-top: 15px;
  padding-left: 15px;
}

/* Navbar */
#navbar {
  background: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.8s;
}

#navbar a {
  float: left;
  display: block;
  padding-left: 12px;
  padding-right: 12px;
}


/* Name animation
Inspired by @ClaireLarsen (codepen) */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

svg {
  display: block;
  font: 10.5em 'Montserrat';
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #4D163D;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #BD0034;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #BD0034;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #FDB731;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}
 
/* Animated sliding text 
Inspired by @chenxinnn (codepen) */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 100vw;
}

.left,
.right {
  width: 50vw;
  overflow: hidden;
  display: inline-block;
}

.left {
  color: rgb(230, 101, 16);
  transform: skew(0deg, -15deg);
}

.right {
  color: rgb(255, 229, 34);
  transform: skew(0deg, 15deg);
}

.left .content {
  width: 100vw;
  text-align: center;
}

.right .content {
  width: 100vw;
  text-align: center;
  transform: translate(-50vw);
}

span {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 6vw;
  text-transform: uppercase;
  line-height: .8;
  transition: ease-out .6s;
}

#sliding-text {
  position: absolute;
  top: 58%;
  left: 0%;
}