@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

#card {
  max-width: 298px;
  margin-top: 30px;
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  margin-right: 30px;
}

#cardSmall {
  margin-top: 30px;
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  margin-right: 20px;
  width: 33.3%;
  min-width: 250px;
  margin-right: 0px;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 298px;
  padding: 20px;
  margin: 10px;
  border-radius: 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #4e4e4e40;
  transition: 0.15s;
}

.card:hover {
  transition: 0.1s ease-in-out;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.3);
  background-color: #39393999;
  width: 325px;
}

.card p {
  color: #f8f8f8;
  line-height: 1.5;
  padding-top: 10px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-size: 20px;
}

.card a {
  color: rgb(1, 236, 249);
  text-decoration: none;
  border-bottom: solid 1px rgb(79, 79, 79);
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.card a:hover {
  color: rgb(0, 223, 235);
  text-shadow: 1px 1px #000000;
}

.appName {
  font-size: 24px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.card a.buttonLink {
  display: block;
  border-bottom: none;
  padding: 14px;
  text-align: center;
  background: linear-gradient(-45deg, #23d5ab, #23a6d5, #e73c7e, #ee7752);
  background-size: 600% 600%;
  animation: gradient 12s ease infinite;
  color: white;
  margin-top: 6px;
  border-radius: 6px;
  position: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.10);
  text-shadow: none;
}

.card a.buttonLink:hover {
  transition: 0.2s ease-in-out;
  background: rgb(27, 27, 27);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.20);

}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  margin-left: 2%;
  margin-right: 2%;
}

.card .cardDate {
  color: #5b5c5c;
  text-shadow: 1px 1px #000000;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}