#navbar {
  background: rgba(45, 45, 45, 0.7);
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  /* To make sure it is on top of any other content */
  z-index: 100;
}

#navbar a {
  float: left;
  display: block;
  padding-top: 7px;
  padding-bottom: 4px;
  border-radius: 4px;
}

#navbar a:hover {
  background-color: rgb(71, 71, 71);
}

/* For width < 399 */
@media only screen and (max-width: 399px) {
  #navbar a {
    padding-right: 18px;
  }
}

/* For width 400+ */
@media only screen and (min-width: 400px) {
  #navbar a {
    padding-right: 10px;
    padding-left: 10px;
  }
}