@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


* {
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito', sans-serif;
}

body {
  color: black;
}

main {
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  margin-top: 100px;
}

h2 {
  padding: 20px 0px;
  text-align: center;
}

.card-row {
  display: flex;
/*   flex-flow: row wrap; */
  flex-wrap: wrap;
  justify-content: space-evenly;
/*   margin:  0px 10px; */
}

.card {
/*   width: 27%; */
/*   padding: 2%; */
/*   margin: 1%; */
  width: 320px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #d7d7d7;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: white;
  transition: 0.15s;
}

.card:hover {
  box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.15);
}
.card > img {
  border-radius: 2px;
  max-width: 100%;
  margin-bottom: 10px;
  height: auto;
}

.card h3 {
  color: purple;
}

.card p {
  color: #757575;
  line-height: 1.5;
  padding-top: 10px;
}

.card a {
  color: orangered;
  text-decoration: none;
  border-bottom: 1px dotted orange;
}

.card a.button-link {
  display: block;
  border-bottom: none;
  padding: 1em;
  text-align: center;
  background-color: orangered;
  color: white;
  margin-top: 1em;
  text-transform: uppercase;
  border-radius: 2px;
}

.card h3 .fa {
/*   color: purple; */
}