.landing {
  margin-top: 20vh;
}

.title {
  /* min, default, max */
  font-size: clamp(1px, 5vw, 60px);
  margin-left: 30px;
  margin-right: 25px;
}

.subtitle {
  /* min, default, max */
  font-size: clamp(1px, 2vw, 25px);
  margin-left: 30px;
  margin-right: 25px;
}

.wave-image {
  /* absolute and responsive image */
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 16vh;
  right: 10px;
  width: 30%;
}

.wave-image-container {}

.akira {
  font-family: "akira";
}

.glendale {
  font-family: "glendale";
}